<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.BookInfoDao">
    <sql id="bookInfoSql">
        select  b.id, b.isbn, b.book_name,b.book_image, b.book_author, b.book_type,
        b.book_publish, b.book_price, b.tmamount, b.bookstock, b.book_state,b.book_house
    </sql>
    <resultMap id="bookInfoResultMap" type="com.nf.library.entity.BookInfo">
        <id column="id" property="id"/>
    </resultMap>
    <delete id="bookInfoByIdDelete">
        delete from bookinfo where isbn = #{isbn}
    </delete>


    <delete id="bookInfoBatchDelete">
        delete from bookinfo
        where
        <foreach collection="array" item="isbn" separator="or">
            isbn = #{isbn}
        </foreach>
    </delete>


    <select id="getAll" resultType="com.nf.library.entity.BookInfo">
        <include refid="bookInfoSql"/>, t.typename from bookinfo b
         inner join booktype t on b.book_type = t.id
        <trim prefix="where" suffixOverrides="and">
            <if test="bookInfo.bookName != null and bookInfo.bookName != ''">
                <bind name="bookName" value="'%' + _parameter.bookInfo.bookName + '%'"/>
                b.book_name like #{bookName} and
            </if>
            <if test="bookInfo.bookAuthor !=null and bookInfo.bookAuthor != ''">
                <bind name="bookAuthor" value="'%' + _parameter.bookInfo.bookAuthor + '%'"/>
                b.book_author like #{bookAuthor} and
            </if>
            <if test="bookInfo.bookType !=null and bookInfo.bookType != ''">
                b.book_type = #{bookInfo.bookType} and
            </if>
            <if test="bookInfo.startDate !=null and bookInfo.endDate != null  ">
                b.book_publish between  #{bookInfo.startDate} and #{bookInfo.endDate} and
            </if>
            <if test="bookInfo.bookStock !=null and bookInfo.bookStock != ''">
                b.bookstock = #{bookInfo.bookStock} and
            </if>
            <if test="bookInfo.bookState !=null and bookInfo.bookState != ''">
                b.book_state = #{bookInfo.bookState} and
            </if>
        </trim>
        order by b.id
    </select>
    <select id="getByIsbn" resultMap="bookInfoResultMap">
        <include refid="bookInfoSql"/> from bookinfo b where b.isbn = #{isbn}
    </select>
    <insert id="bookInfoInsert" parameterType="com.nf.library.entity.BookInfo">
        insert into
        bookinfo(isbn, book_name, book_author, book_type, book_publish, book_price, tmamount, bookstock, book_state, book_house, book_image)
        values (#{isbn},#{bookName},#{bookAuthor},#{bookType} ,#{bookPublish},#{bookPrice},
        #{tmamount},#{bookStock},#{bookState},#{bookHouse},#{bookImage})
    </insert>
    <update id="bookInfoUpdate" parameterType="com.nf.library.entity.BookInfo">
        update bookinfo
        <set >
            <if test="isbn != null">
                isbn = #{isbn},
            </if>
            <if test="bookName != null">
                book_name = #{bookName},
            </if>
            <if test="bookAuthor !=null">
                book_author = #{bookAuthor},
            </if>
            <if test="bookType !=null">
                book_type = #{bookType},
            </if>
            <if test="bookPublish !=null">
                book_publish = #{bookPublish},
            </if>
            <if test="bookPrice !=null">
                book_price = #{bookPrice},
            </if>
            <if test="tmamount !=null">
                tmamount = #{tmamount},
            </if>
            <if test="bookStock !=null">
                bookstock = #{bookStock},
            </if>
            <if test="bookState !=null">
                book_state = #{bookState},
            </if>

            <if test="bookHouse !=null">
                book_house = #{bookHouse},
            </if>

            <if test="bookImage !=null">
                book_image = #{bookImage},
            </if>
        </set>
        where isbn = #{isbn}
    </update>

</mapper>