<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.BookTypeDao">

    <select id="getAll" resultType="com.nf.library.entity.BookType">
        select id, typename from booktype
    </select>
</mapper>