<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.LendBookDao">
    <resultMap id="lendBookResultMap" type="com.nf.library.entity.LendBook">
        <id column="id" property="id"/>
    </resultMap>
    <sql id="lendBookSql">
       select l.lend_day, l.id,
       l.isbn, l.reader_id,
       l.lend_date, l.lend_totalcount,
       l.lend_money
    </sql>
    <insert id="lendBookInsert">
        insert into lendbook(
        isbn, reader_id,
         lend_date,lend_totalcount,
         lend_money, lend_day)
         values(#{isbn},#{readerId},now(),0,#{lendMoney},#{lendDay})
    </insert>

    <select id="getAll" resultMap="lendBookResultMap">
        <include refid="lendBookSql"/>,
        b.isbn,b.book_name,b.book_author,r.id,r.reader_name from  lendbook l
         inner join bookinfo b on l.isbn = b.isbn
         inner join readerinfo r on r.id = l.reader_id
        <trim prefix="where" suffixOverrides="and">
            <if test="lend.isbn != null and lend.isbn != ''">
                b.isbn = #{lend.isbn} and
            </if>
            <if test="lend.bookName != null and lend.bookName != ''">
                <bind name="bookName" value="'%' + _parameter.lend.bookName + '%'"/>
                b.book_name like #{bookName} and
            </if>
            <if test="lend.bookAuthor !=null and lend.bookAuthor != ''">
                <bind name="bookAuthor" value="'%' + _parameter.lend.bookAuthor + '%'"/>
                b.book_author like #{bookAuthor} and
            </if>
            <if test="lend.readerId !=null and lend.readerId != ''">
                r.reader_id = #{lend.readerId} and
            </if>
        </trim>
        order by  l.id desc
    </select>
    <delete id="lendBookBatchDelete">
        delete  from lendbook where
        <foreach collection="array" item="id" separator="or">
            id = #{id}
        </foreach>
    </delete>
    <delete id="lendBookDelete">
        delete from lendbook where id = #{id}
    </delete>

    <update id="lendBookUpdate">
        update lendbook
         <set>
             <if test="lend.lendDay != null">
                 lend_day = #{lend.lendDay},
             </if>
             <if test="lend.lendMoney != null">
                 lend_money = #{lend.lendMoney},
             </if>
             <if test="lend.lendTotalcount != null">
                 lend_totalcount = #{lend.lendTotalcount},
             </if>
         </set>
         where id = #{lend.id}
    </update>

    <select id="getById" resultMap="lendBookResultMap">
        <include refid="lendBookSql"/> from lendbook l where l.id = #{id}
    </select>
</mapper>