<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.NodeInfoDao">
    <resultMap id="nodeInfoResultMap" type="com.nf.library.entity.NodeInfo">
        <id column="node_id" property="nodeId"/>
    </resultMap>
    <sql id="nodeInfo">
        select n.node_id, n.node_url, n.node_description,
         n.pid,n.node_type,n.node_tag,n.node_path,n.node_index,n.node_ids
    </sql>
    <select id="getRoleTag" resultMap="nodeInfoResultMap">
         <include refid="nodeInfo"/>  from
        roleinfo r
        inner join role_node rn on r.role_id = rn.role_id
        inner join nodeinfo   n on rn.node_id = n.node_id
        where r.role_tag = #{roleTag}
    </select>
    <select id="getByPid" resultMap="nodeInfoResultMap">
        select <include refid="nodeInfo"/> from nodeinfo n where n.pid = #{pid}
    </select>

    <select id="getRoleTagMenu" resultMap="nodeInfoResultMap">
         <include refid="nodeInfo"/>  from
        roleinfo r
        inner join role_node rn on r.role_id = rn.role_id
        inner join nodeinfo   n on rn.node_id = n.node_id
        where
        r.role_tag = #{roleTag} and n.node_type = #{nodeType}
    </select>

    <select id="getChild" resultMap="nodeInfoResultMap">
         <include refid="nodeInfo"/>  from nodeinfo n
        where n.pid = #{pid}
    </select>


    <select id="getAll" resultMap="nodeInfoResultMap">
        <include refid="nodeInfo"/>  from nodeinfo n
    </select>
    <select id="getById" resultMap="nodeInfoResultMap">
        <include refid="nodeInfo"/>  from nodeinfo n where n.node_id = #{nodeId}
    </select>
</mapper>