<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.ReaderInfoDao">
    <resultMap id="readerInfoResultMap" type="com.nf.library.entity.ReaderInfo">
        <id column="id" property="id"/>
    </resultMap>
    <sql id="readerInfoSql">
        select  r.id,
        r.reader_name,
        r.reader_phone,
         r.reader_address,
         r.reader_state,
         r.reader_fulladdress,
         r.reader_money,
         r.reader_card,
         r.createDate
    </sql>
    <select id="getById" resultMap="readerInfoResultMap">
       <include refid="readerInfoSql"/> from readerinfo r where r.id = #{id} and r.reader_state = 0
    </select>
    <select id="getAll" resultType="com.nf.library.entity.ReaderInfo">
        <include refid="readerInfoSql"/> from readerinfo r
         <trim prefix="where" suffixOverrides="and">
             <if test="reader!=null">
                 <if test="reader.readerName!= null and reader.readerName!= '' ">
                     <bind name="name" value="'%'+_parameter.reader.readerName+'%'"/>
                     r.reader_name like #{name} and
                 </if>
                 <if test="reader.readerState!=null and reader.readerState!=''">
                     r.reader_state = #{reader.readerState} and
                 </if>
             </if>
         </trim>
    </select>

    <delete id="readerInfoBatchDelete">
        delete from readerinfo
        <where>
            <foreach collection="array" item="id" separator="or">
                id = #{id}
            </foreach>
        </where>
    </delete>
    <delete id="readerInfoDelete">
        delete from readerinfo where id = #{id}
    </delete>

    <update id="readerInfoUpdate">
        update readerinfo
        <set>
            <if test="readerName!=null and readerName!=''">
                reader_name = #{readerName},
            </if>
            <if test="readerPhone!=null and readerPhone!=''">
                reader_phone = #{readerPhone},
            </if>
            <if test="readerAddress!=null and readerAddress!=''">
                reader_address = #{readerAddress},
            </if>
            <if test="readerFullAddress!=null and readerFullAddress!=''">
                reader_fulladdress = #{readerFullAddress},
            </if>
            <if test="readerState!=null and readerState!=''">
                reader_state = #{readerState},
            </if>
            <if test="readerCard!=null and readerCard!=''">
                reader_card = #{readerCard},
            </if>

            <if test="readerMoney!=null ">
                reader_money = #{readerMoney},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="readerInfoInsert">
        insert into readerinfo(reader_name, reader_phone, reader_address, reader_state, reader_card,createDate,reader_fulladdress)
        values(#{readerName},#{readerPhone},#{readerFullAddress},#{readerState},#{readerCard},#{createDate},#{readerAddress})
    </insert>
    <insert id="readerInfoBatchInsert">
        insert into readerinfo(reader_name, reader_phone, reader_address, reader_money, reader_card,createDate,reader_fulladdress)
        values
        <foreach collection="list" item="reader" separator=",">
            (#{reader.readerName},#{reader.readerPhone},#{reader.readerAddress},#{reader.readerMoney},
            #{reader.readerCard},#{reader.createDate},#{reader.readerFullAddress})
        </foreach>

    </insert>
</mapper>