<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.ReaderInfoDao">
    <resultMap id="readerInfoResultMap" type="com.nf.library.entity.ReaderInfo">
        <id column="id" property="id"/>
        <result column="reader_fulladdress" property="readerFullAddress"/>
    </resultMap>
    <sql id="readerInfoSql">
        select  r.id, r.reader_name, r.reader_phone, r.reader_address, r.reader_state,r.reader_fulladdress
    </sql>
    <select id="getById" resultMap="readerInfoResultMap">
       <include refid="readerInfoSql"/> from readerinfo r where r.id = #{id}
    </select>
    <select id="getAll" resultMap="readerInfoResultMap">
        <include refid="readerInfoSql"/> from readerinfo r
         <trim prefix="where" suffixOverrides="and">
             <if test="reader.readerName!=null">
                 <bind name="readerName" value="'%'+_parameter.reader.readerName+'%'"/>
                 r.reader_name like #{readerName} and
             </if>
             <if test="reader.readerState!=null">
                 r.reader_state = #{reader.readerState}
             </if>
         </trim>
         where r.id = #{reader.id}
    </select>

    <delete id="readerInfoBatchDelete">
        delete from readerinfo
        <where>
            <foreach collection="array" item="id" separator="or">
                id = #{id}
            </foreach>
        </where>
    </delete>
    <delete id="readerInfoDelete">
        delete from readerinfo where id = #{id}
    </delete>

    <update id="readerInfoUpdate">
        update readerinfo
        <set>
            <if test="readerName!=null">
                reader_name = #{readerName},
            </if>
            <if test="readerPhone!=null">
                reader_phone = #{readerPhone},
            </if>
            <if test="readerAddress!=null">
                reader_address = #{readerAddress},
            </if>
            <if test="readerFullAddress!=null">
                reader_fulladdress = #{readerFullAddress},
            </if>
            <if test="readerState!=null">
                reader_state = #{readerState},
            </if>
            <if test="readerCard!=null">
                reader_card = #{readerCard},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="readerInfoInsert">
        insert into readerinfo(reader_name, reader_phone, reader_address, reader_state, reader_card,createDate,reader_fulladdress)
        values(#{readerName},#{readerPhone},#{readerAddress},#{readerState},#{readerCard},#{createDate},#{readerFullAddress})
    </insert>
</mapper>