<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.library.dao.UserInfoDao">

    <resultMap id="userResultMap" type="com.nf.library.entity.UserInfo">
        <id column="user_id" property="userId"/>
        <result column="real_name" property="realName"/>
        <result column="user_sex" property="userSex"/>
        <result column="enable" property="enabled"/>
    </resultMap>
    <sql id="userSelect">
        user_id, username,real_name, user_sex, dept_id, dept_name,
        user_phone, password, user_entrydate, enable
    </sql>
    <delete id="deleteById">
        delete from userinfo where user_id = #{userId}
    </delete>
    <select id="getByRealName" resultMap="userResultMap">
        select <include refid="userSelect"/> from userinfo where real_name = #{realName}
    </select>
    <select id="getByUsername" resultMap="userResultMap">
        select <include refid="userSelect"/> from userinfo where username = #{username}
    </select>
    <select id="getByUsernameAndPassword" resultMap="userResultMap">
        select <include refid="userSelect"/> from userinfo where username= #{username} and password = #{password}
    </select>
</mapper>